<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>QA {{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
 <script type="text/javascript">
    (function(j,u,k,e,b,o,x){j["pfObject"]=b;j[b]=j[b]||function(){
    (j[b].q=j[b].q||[]).push(arguments)},j[b].l=1*new Date();o=u.createElement(k),
    x=u.getElementsByTagName(k)[0];o.async=1;o.src=e;x.parentNode.insertBefore(o,x)
    })(window,document,'script', 'https://cdn-app.qa-pathfactory.com/qa/jukebox/current/jukebox.js' ,"pf");
      pf('create', 'LB-DC2C671F-195');
      pf('_env', 'qa');
  </script>
</head>
<body>
  <header>
    <h1>{{ site.title }}</h1>
    <nav>
      <!-- Include navigation here -->
    </nav>
  </header>
  <main>
    {{ content }}
  </main>
  <footer>
    <p>&copy; {{ site.time | date: "%Y" }} {{ site.title }}</p>
  </footer>
</body>
</html>